<form [formGroup]="form" >
    <div fxLayout="row">
        <div fxFlex="60%">
            <mat-form-field appearance="fill">
                <mat-label>Assesment Template</mat-label>
                <input matInput placeholder="Assesment Name" formControlName="name" >
                <mat-error *ngIf="form.controls['name'].hasError('required')">Name is required</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Body Region</mat-label>
                <mat-select formControlName="bodyRegion">
                    <mat-option value="primary">Primary</mat-option> 
                </mat-select>
                <mat-error *ngIf="form.controls['bodyRegion'].hasError('required')">Please select an option</mat-error>
            </mat-form-field>
        
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Please enter a description here(max. 250 words)" formControlName="description" ></textarea>
                    <mat-error *ngIf="form.controls['description'].hasError('required')">Description is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div >
            <p>patient measurement</p>
            <mat-card class="example-card">
                <mat-card-content>
                        <div formArrayName="measurementArray">
                            <tr *ngFor="let number of form['controls'].measurementArray['controls']; let i=index" formGroupName="{{i}}" fxLayoutGap="20px">
                                <mat-form-field appearance="fill" fxFlex="45%">
                                    <input matInput formControlName="timePeriod" >
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="45%">
                                    <input matInput formControlName="time"  [ngxMatTimepicker]="picker">
                                </mat-form-field>
                                <ngx-mat-timepicker #picker></ngx-mat-timepicker>
                            </tr>
                        </div>
                    <button mat-raised-button color="primary" (click)="addNewMeasurement()">Add Schedule+</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="details">
        <div fxFlex="100%" class="categoryForm" >
            <button mat-raised-button color="primary" (click)="addInCategory()"  type="button">
                Add Category
            </button>
            <p class="assesmentDetails">Category</p>
            <div formArrayName="categoryArray" *ngIf="isCategoryFormVisible" class="categoryInput">
                <div *ngFor="let First of form['controls'].categoryArray['controls']; let i = index" formGroupName="{{i}}">
                    <mat-slide-toggle checked="true" >
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="categoryName">
                        </mat-form-field>
                    </mat-slide-toggle>

                    <p (click)="First.get('categoryName').valid ? inAssesment(i): false" class="assesmentDetails">Assesment (click here)</p>

                    <div formArrayName="assesmentArray" *ngIf="isAssesmentFormVisible == 'c'+i " class="assesmentInput">
                        <div *ngFor="let details of First['controls'].assesmentArray['controls']; let y=index" formGroupName="{{y}}">
                            <mat-slide-toggle checked="true">
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="assesmentName">
                                </mat-form-field>
                            </mat-slide-toggle>

                            <p (click)="details.get('assesmentName').valid ? inAssesmentDetail('c'+i+'a'+y , i ,y): false" class="assesmentDetails">Assesment details (click here)</p>
                            <div *ngIf="isAssesmentDetailFormVisible == 'c'+i+'a'+y">
                                <div fxLayout="row">
                                    <p fxFlex="25%">type*</p>
                                    <mat-form-field appearance="outline" fxFlex="45%">
                                        <mat-select formControlName="assesmentDetailsType"  (valueChange)="changeAssesmentType($event,y)" placeholder="--Please select--">
                                            <mat-option *ngFor="let type of assesmentDetailsTypeArray" value={{type.value}} >{{type.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="details.get('assesmentDetailsType').valid ">
                                    <div>
                                        <p fxFlex="25%">Unit</p>
                                        <mat-form-field appearance="fill" fxFlex="45%">
                                            <mat-select formControlName="assesmentDetailsUnit"  (ngModelChange)="changeAssesmentUnit($event,i,y)"  [(ngModel)]="getUnitOfAssesmentType[y][0].type">
                                                <mat-option *ngFor="let type of getUnitOfAssesmentType[y]" value={{type.type}} >{{type.type}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Value Range*</p>
                                        <div fxFlex="45%">
                                            <mat-form-field appearance="fill" fxFlex="45%">
                                                <input matInput type="number" formControlName="assesmentDetailsRangeFrom" placeholder="0" (change)="changeRangeValidator($event,i,y)" >
                                            </mat-form-field>
                                            <p fxFlex="5%">to</p>
                                            <mat-form-field appearance="fill" fxFlex="45%">
                                                <input matInput type="number" formControlName="assesmentDetailsRangeTo"  >
                                                <mat-error *ngIf="details.get('assesmentDetailsRangeTo').invalid || details.get('assesmentDetailsRangeFrom').invalid">Please enter value between 1 and {{valueOfRange}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Measurement Type</p>
                                        <mat-slide-toggle (change)="sideComparison($event,y)" [checked]="isChecked" >Side Comparison</mat-slide-toggle>
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Measuring Region*</p>
                                        <mat-form-field appearance="fill" fxFlex="45%">
                                            <textarea matInput formControlName="assesmentDetailsMeasuringRegion"  placeholder=" e.g Body region(Right)" ></textarea>
                                        </mat-form-field> 
                                    </div>
                                    <div *ngIf="isReferenceRegionVisible">
                                        <p fxFlex="25%">Reference Region*</p>
                                        <mat-form-field appearance="fill" fxFlex="45%">
                                            <textarea matInput formControlName="assesmentDetailsReferenceRegion"  placeholder=" e.g Body region(Left)" ></textarea>
                                        </mat-form-field> 
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Measurements*</p>
                                        <mat-form-field appearance="fill" fxFlex="45%">
                                            <mat-select formControlName="assesmentDetailsMeasurements" multiple [(ngModel)]="measurementDefault[y]" (valueChange)="selectMeasurement($event,y)">
                                                <mat-option *ngFor="let type of getMeasurements" [value]="type.value" >{{type.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field> 
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Goals*</p>
                                        <div fxFlex="70%">
                                            <div *ngIf="isSimpleVisible"  fxLayoutGap="10px">
                                                <mat-form-field appearance="fill" fxFlex="40%">
                                                    <mat-select formControlName="typeOfSimple" (valueChange)="changeInSimple($event)" [ngModel]="valueComparisonArray[0].value" >
                                                        <mat-option *ngFor="let type of valueComparisonArray" [value]="type.value">{{type.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                    
                                                <mat-form-field appearance="fill" fxFlex="20%">
                                                    <input matInput formControlName="valueOfSimple"  (change)="simpleChange($event,y)" >
                                                    <mat-error *ngIf="details.get('valueOfSimple').invalid">value must be greater than 1</mat-error>
                                                </mat-form-field>
                                                
                                                <span *ngIf="isSecondInputSimpleVisible" class="inputField" fxFlex="30%">
                                                    <span fxFlex="30%">and</span>
                                                    <mat-form-field appearance="fill" fxFlex="70%">
                                                        <input matInput formControlName="secondValueOfSimple" >
                                                    </mat-form-field>
                                                </span>
                                                <span fxFlex="10%">{{Unit}}</span>
                                            </div>
                                            <div *ngIf="isErrorVisible" fxLayoutGap="10px">
                                                <mat-form-field appearance="fill" fxFlex="40%" >
                                                    <mat-select formControlName="typeOfError" (valueChange)="changeInError($event)" [ngModel]="valueComparisonArray[0].value">
                                                        <mat-option *ngFor="let type of valueComparisonArray" [value]="type.value">{{type.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                    
                                                <mat-form-field appearance="fill" fxFlex="20%" >
                                                    <input matInput formControlName="valueOfError"  (change)="errorChange($event,y)">
                                                    <mat-error *ngIf="details.get('valueOfError').invalid">value must be greater than 1</mat-error>
                                                </mat-form-field>

                                                <div *ngIf="isSecondInputErrorVisible" fxFlex="30%" >
                                                    <span fxFlex="30%" >and</span>
                                                    <mat-form-field appearance="fill" fxFlex="70%" >
                                                        <input matInput formControlName="secondValueOfError" >
                                                    </mat-form-field>
                                                </div>
                                                <p fxFlex="10%" >%Error rate</p>
                                            </div>
                                            <div *ngIf="isDifferenceVisible"  fxLayoutGap="10px">
                                                <mat-form-field appearance="fill" fxFlex="40%" >
                                                    <mat-select formControlName="typeOfDifference" (valueChange)="changeInDifference($event)" [ngModel]="valueComparisonArray[0].value">
                                                        <mat-option *ngFor="let type of valueComparisonArray" [value]="type.value">{{type.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <mat-form-field appearance="fill" fxFlex="20%" >
                                                    <input matInput formControlName="valueOfDifference"  (change)="differenceChange($event,y)">
                                                    <mat-error *ngIf="details.get('valueOfDifference').invalid">value must be greater than 1</mat-error>
                                                </mat-form-field>

                                                <div *ngIf="isSecondInputDifferenceVisible" fxFlex="30%" >
                                                    <span fxFlex="30%" >and</span>
                                                    <mat-form-field appearance="fill" fxFlex="70%" >
                                                        <input matInput formControlName="secondValueOfDifference" >
                                                    </mat-form-field>
                                                </div>
                                                <p fxFlex="10%" >{{Unit}} (Difference to reference region)</p>
                                            </div >
                                            <div *ngIf="isComparisonVisible" fxLayoutGap="10px">
                                                <mat-form-field appearance="fill" fxFlex="40%" >
                                                    <mat-select formControlName="typeOfComparison" (valueChange)="changeInComparison($event)" [ngModel]="valueComparisonArray[0].value">
                                                        <mat-option *ngFor="let type of valueComparisonArray" [value]="type.value">{{type.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                    
                                                <mat-form-field appearance="fill" fxFlex="20%" >
                                                    <input matInput formControlName="valueOfComparison"  (change)="comparisonChange($event,y)">
                                                    <mat-error *ngIf="details.get('valueOfComparison').invalid">value must be greater than 1</mat-error>
                                                </mat-form-field>

                                                <div *ngIf="isSecondInputComparisonVisible" fxFlex="30%" >
                                                    <span fxFlex="30%" >and</span>
                                                    <mat-form-field appearance="fill" fxFlex="70%" >
                                                        <input matInput formControlName="secondValueOfComparison" >
                                                    </mat-form-field>
                                                </div>
                                                <p fxFlex="10%" >% of the reference region</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p fxFlex="25%">Description*</p>
                                        <mat-form-field appearance="fill" fxFlex="45%">
                                            <textarea matInput formControlName="assesmentDetailsDescription" ></textarea>
                                        </mat-form-field> 
                                    </div>
                                </div>
                                <div>
                                    <p fxFlex="25%">Routine*</p>
                                    <div fxFlex="70%" fxLayoutGap="20px">
                                        <mat-form-field appearance="fill">
                                            <mat-select formControlName="assesmentDetailsRoutine" placeholder="please select" (valueChange)="routineChange($event,y)" >
                                                <mat-option *ngFor="let type of routineArray" [value]="type.value" >{{type.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill">
                                            <mat-select formControlName="assesmentDetailsRoutineDays" [(ngModel)]="selectedDays[y]" multiple placeholder="None">
                                                <mat-option *ngFor="let type of week" [value]="type" >{{type}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <p fxFlex="25%">times</p>
                                    <mat-form-field appearance="fill" fxFlex="45%">
                                        <mat-select formControlName="assesmentDetailsTime" placeholder="None" multiple>
                                            <mat-option *ngFor="let type of timeArray" [value]="type.time" >{{type.timePeriod}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div  fxLayoutAlign="center center">
                                    <canvas #chart style="height:20vh; width:40vw" fxFlex="50%"></canvas>
                                </div>
                            </div>
                        </div>
                        <div fxLayoutAlign="center center">
                            <button mat-raised-button color="primary" (click)="addInAssesment(i)" type="button">
                                Add Assesment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayoutAlign="right" class="save">
        <button mat-raised-button (click)="save()" type="button">Save</button>
    </div>
</form>
